:root {
  --color-accent: hsl(215, 100%, 51%);
  --color-accent-hsl: 215, 100%, 51%;
  --color-bg-primary: hsl(255, 0%, 100%);
  --color-bg-primary-hsl: 255, 0%, 100%;
  --color-bg-secondary: hsl(255, 0%, 95%);
  --color-danger: red;
  --color-text: hsl(0, 0%, 10%);
  --color-text-light: hsl(0, 0%, 50%);
  --color-border: hsla(0, 0%, 90%);

  --border-radius: 8px;
  --spacer: 15px;

  --font-size-xxl: 36px;
  --font-size-xlg: 24px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-xsm: 12px;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-primary: hsl(0, 0%, 15%);
    --color-bg-secondary: hsl(0, 0%, 10%);
    --color-text: hsl(255, 0%, 100%);
    --color-border: hsl(0, 0%, 25%);
    --color-accent: hsl(215, 100%, 51%);
    --color-accent-hsl: 215, 100%, 51%;
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

a.link {
  color: var(--color-accent);
  text-decoration: underline;
}
a.link:hover,
a.link:focus {
  text-decoration: underline;
}

body {
  font-family: -apple-system /*, BlinkMacSystemFont*/, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--color-bg-secondary);
  color: var(--color-text);
}

img {
  max-width: 100%;
  height: auto;
}

select {
  font-size: var(--font-size-base);
}
input {
  font-size: 1rem;
}
textarea {
  display: inline;
  width: 100%;
  background: var(--color-bg-secondary);
  border: none;
  border-radius: var(--border-radius);
  padding: calc(var(--spacer) / 2);
  color: var(--color-text);
  resize: none;
  font: inherit;
}

/*
  Buttons
*/

.button {
  font-size: var(--font-size-sm);
  border: 1px solid var(--color-border);
  background: var(--color-bg-primary);
  border-radius: var(--border-radius);
  box-shadoow: 0 1px 1px hsl(0, 0%, 95%);
  color: var(--color-accent);
}
.button:hover {
  text-decoration: underline;
}
.button--danger {
  color: var(--color-danger);
}
.button--block {
  width: 100%;
}

readlist-nav ul,
readlists-nav p,
readlist-view ul,
readlist-view p {
  margin: 0;
  padding: 0;
}

#header {
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

readlists-nav {
  position: relative;
}
readlists-app[loading] readlists-nav:before {
  position: absolute;
  top: 24px;

  width: 32px;
  height: 32px;
  background: url(./loading.gif) no-repeat;
  background-size: cover;
  /* display: block; */
  content: "";
}
readlists-app[loading] readlists-nav:before {
  width: 28px;
  height: 28px;
  z-index: 100;
  top: 34px;
  right: 54px;
}
/* [loading] input,
[loading] select,
[loading] textarea,
[loading] button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.75;
} */

button.loading {
  position: relative;
}
button.loading:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  content: "";
  background: rgba(255, 255, 255, 1) url(/loading.svg) no-repeat 50%;
  left: 0;
  background-size: contain;
}

.error {
  position: fixed;
  top: 0;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  background: red;
  color: white;
  padding: 15px;
  transition: 0.3s ease transform;
  display: flex;
  justify-content: space-between;
  z-index: 10;

  transform: translateY(-100%);
}

.error:after {
  content: "\00D7";
  margin-left: 15px;
}
.error:after:hover {
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 15px;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-content: center;
  align-items: center;
  display: flex;
  padding: 0.25rem;
  border-radius: 5px;
  vertical-align: middle;
  line-height: 0.85;
}

.error--visible {
  transform: translateY(0);
}
.error--visible:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.25);
  bottom: 0px;
  animation-duration: 5s;
  animation-name: timer;
  animation-timing-function: linear;
}

@keyframes timer {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

#article-form {
  display: flex;
}
#article-form input {
  flex: 1 1 auto;
  margin-right: 1rem;
}
#article-form button {
  flex: 0 0 auto;
}

readlist-view header {
  padding: calc(var(--spacer) * 2);
}

[contenteditable] {
  background-color: var(--color-bg-secondary);
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2);
  border-radius: var(--border-radius);
  min-width: 100px;
}
[contenteditable]:hover {
  background-color: hsla(var(--color-accent-hsl), 0.1);
}
[contenteditable]:empty:before {
  content: attr(placeholder);
  opacity: 0.3;
}

/* =============================================================================
   Article
   ========================================================================== */

.articles {
  margin: 0;
  padding: 0;
}

.article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 1rem;
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  padding: var(--spacer) calc(var(--spacer) * 2) var(--spacer) 80px;
  position: relative;
}
.article--active {
  background-color: hsla(var(--color-accent-hsl), 0.1);
}
.article__order {
  position: absolute;
  left: calc(var(--spacer) * 2);
  top: var(--spacer);
}

.article__main {
  display: flex;
  align-items: center;
  width: 100%;
  margin: calc(var(--spacer) / 2) 0;
}
.article__meta {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.article__description {
  margin: 0;
  padding: 0;
}
.article__title {
  font-weight: 500;
  font-size: var(--font-size-lg);
}

.article__actions .button {
  margin-left: calc(var(--spacer) / 2);
}

.article--create {
  align-items: center;
  padding-left: calc(var(--spacer) * 2);
}
.article--create input {
  font-size: var(--font-size-lg);
  padding: calc(var(--spacer) / 2);
  width: 100%;
  border: none;
  background-color: var(--color-bg-secondary);
  border-radius: var(--border-radius);
  color: var(--color-text);
}

readlists-app {
  display: flex;
  overflow: hidden;
  justify-content: center;
}
readlists-nav {
  flex: 0 0 300px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 0 6px hsla(0, 0%, 0%, 0.1);
  border-right: 1px solid var(--color-border);
}
readlist-view {
  overflow-y: scroll;
  height: 100vh;
  flex: 1;
  max-width: 800px;
  box-shadow: 2px 0 6px hsla(0, 0%, 0%, 0.1);
}

readlists-nav {
  background: var(--color-bg-primary);
}

readlist-view {
  background: var(--color-bg-primary);
}
readlist-article {
  background: rgba(0, 0, 0, 0.5);
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

readlist-article > div {
  background: #fff;
  max-width: 800px;
  margin: calc(var(--spacer) * 2) auto;
  padding: calc(var(--spacer) * 2);
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  transition: 0.4s ease transform;
  transform: scale(1);
  transform-origin: 50% 0;
}
readlist-article[hidden] > div {
  transform: scale(0.95);
}

readlist-article[data-is-loading] > div {
  height: 300px;
}
readlist-article[data-is-loading] > div:after {
  content: "";
  background: var(--color-bg-primary) url(./loading.svg) no-repeat 50%;
  background-size: 48px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

readlist-article {
  z-index: 10;
}

readlist-article {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: 0.2s ease all;
}

readlist-article[hidden] {
  opacity: 0;
  visibility: hidden;
}

/**
 * Header
 */

readlists-nav header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--spacer) * 2) var(--spacer) var(--spacer);
  z-index: 2;
  border-bottom: 1px solid var(--color-border);
}

readlists-nav header h1 {
  font-size: var(--font-size-xxl);
  font-weight: 800;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
}

readlists-nav header a {
  text-decoration: none;
  color: inherit;
}

readlists-nav header a,
readlists-nav header button {
  color: inherit;
}

readlists-nav header button:hover {
  text-decoration: none;
}
readlists-nav header button {
  border: none;
  background: var(--color-accent);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
readlists-nav header button span {
  font-size: 28px;
  top: -3px;
  line-height: 1;
  position: relative;
  pointer-events: none;
}

/**
 * List
 */

readlists-nav {
  --width: 300px;
}

readlists-nav ul {
  background: var(--color-bg-primary);
  overflow: scroll;
  padding-bottom: 20px;
  margin: 0;
  padding: 0 0 calc(var(--spacer) * 3) 0;
  flex: 1;
}

readlists-nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

readlists-nav li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50px;
  padding: var(--spacer);
  padding-right: calc(var(--spacer) * 3);
  border-bottom: 1px solid var(--color-border);
  position: relative;
}

readlists-nav li a::after {
  content: attr(data-count);
  position: absolute;
  right: var(--spacer);
  padding: calc(var(--spacer) / 2);
  background: hsl(var(--color-accent-hsl), 0.1);
  border-radius: 50%;
  line-height: 0.5;
  top: 50%;
  margin-top: -1em;
  font-size: var(--font-size-xsm);
  color: var(--color-accent);
}

readlists-nav li a.active {
  background: var(--color-accent);
  color: #fff;
}

readlists-nav li a.active::after {
  background: hsla(var(--color-bg-primary-hsl), 0.2);
  color: var(--color-bg);
}

readlists-nav li a * {
  pointer-events: none;
}

readlists-nav ul h2 {
  font-size: var(--font-size-lg);
  font-weight: 400;
  margin: 0 0 calc(var(--spacer) / 4) 0;
  padding: 0;
  /* truncate at n lines */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
readlists-nav ul p {
  font-size: var(--font-size-sm);
  opacity: 0.6; /* @TODO */
}

/**
 * Footer
 */

readlists-nav footer {
  height: 40px;

  padding: var(--spacer);
  width: var(--width);
  background: var(--color-bg-primary);
  font-size: var(--font-size-sm);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

readlists-nav footer a {
  text-decoration: underline;
}

/**
 * Readlist VIew
 */
readlist-view header .title {
  font-size: var(--font-size-xlg);
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  display: inline-block;
}

readlist-view header .description {
  font-weight: 400;
  font-size: var(--font-size-base);
  margin: calc(var(--spacer) / 2) 0;
  display: inline-block;
}

readlist-view header time {
  display: block;
  margin-bottom: calc(var(--spacer) / 2);
  color: var(--color-text-light);
}

readlists-app {
  height: 100vh;
}
.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
