read-lists {
  position: fixed;
  height: 100%;
  width: 300px;
  overflow: scroll;
}

read-list {
  width: calc(100% - 40% - 300px);
  position: fixed;
  left: 300px;
  top: 0;
  bottom: 0;
  overflow: scroll;
}

readlist-article {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: calc(100% - 60%);
  background: var(--color-bg-secondary);
}

read-lists {
  background: var(--color-bg-primary);
}

read-list {
  padding: calc(var(--spacer) * 2);
  background: var(--color-bg-primary);
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.25);
}
readlist-article {
  padding: 30px;
  overflow: scroll;
}

readlist-article[loading]:after {
  content: "";
  position: absolute;
  left: 0;
  botttom: 0;
  right: 0;
  top: 0;
  background: url("./loading.svg") no-repeat 50%;
}

readlist-article {
  transform: translateX(0px);
  background: var(--color-bg-primary);
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease all;
  display: block;
  opacity: 1;
  visibility: visible;
}
readlist-article[hidden] {
  transform: translateX(30px);
  opacity: 0;
  visibility: hidden;
}

read-lists button {
  background: transparent;
  border: none;
}

/**
 * Header
 */

read-lists header {
  background: var(--color-accent);
  color: var(--color-bg-primary);
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

read-lists header h1 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  height: 50px;
  display: flex;
  align-items: center;
}

read-lists header a {
  text-decoration: none;
  color: inherit;
}

read-lists header a,
read-lists header button {
  color: inherit;
}

read-lists header button {
  font-size: 24px;
}

/**
 * List
 */

read-lists ul,
read-lists li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

read-lists li a {
  display: block;
  padding: calc(var(--spacer) / 2) 15px;
  border-bottom: 1px solid;
}

read-lists li a.active {
  background: hsla(var(--color-accent-hsl), 0.1);
}

read-lists li a * {
  pointer-events: none;
}

read-lists ul h2 {
  font-size: var(--font-size-lg);
  font-weight: 400;
  margin: 0;
  padding: 0;
}
read-lists ul p {
  font-size: var(--font-size-sm);
}

/**
 * Footer
 */

read-lists footer {
  position: fixed;
  bottom: var(--spacer);
  left: var(--spacer);
  width: 255px;
  height: 35px;
  padding: 0 calc(var(--spacer) / 2);
  font-size: var(--font-size-sm);

  background: var(--color-bg-secondary);
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

read-lists footer a {
  text-decoration: underline;
}
